/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul[role="list"],
ol[role="list"] {
  padding-inline: 0;
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}
.sidebar {
  display: grid;
}

.sidebar > .form-section {
  order: 1;
}
#project-form {
  display: none;
}

#project-form-opener {
  appearance: none;
}

#project-form-opener + label {
  width: 50px;
  height: 50px;
  display: block;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: all 5s;
}
#project-form-opener + label:hover {
  border: 1px solid black;
  border-radius: 50%;
  background-color: grey;
}

#project-form-opener:checked ~ #project-form {
  display: block;
}
